@import "./Variables/Variables.scss";

.mainPage {
	display: flex;
	justify-content: center;
	align-items: center;

	h1 {
		color: $redColor;
		margin-inline: 10px;
	}

	button {
		@include buttonStyle($redColor, $whiteColor, 24px);
	}
}
